In [1]:
import pandas as pd
import re

In [2]:
def attendance(x):
    x = x.replace('-','')
    l = list(set(re.findall('\d{13}',x)))
    return pd.DataFrame({"CNIC":l})

In [3]:
x = """
4220105630741
Shakir Hussain2:51 PM
42101-9276734-9
Muhammad Ayaz2:52 PM
4410242997959
Masroor3:02 PM
42201-2286846-7
taimoor qureshi3:06 PM
4240179641627
Tatheer Fatima3:07 PM
4210124609792
Dewan S Khan3:09 PM
4220105630741
Arsalan Ahmed3:12 PM
42201-6535195-7
Dewan S Khan3:12 PM
4220105630741
Bilal Uddin3:13 PM
4220122191357
Muhammad Atique Qayyum3:16 PM
4220140225236
Tariq Mehmood3:16 PM
4220104505899
Haris Chhipa3:17 PM
4210156195059
Dewan S Khan3:17 PM
import re
a=re.findall(r'\bFrom (.*) To Everyone : (\d{5,7})',x)
Haris Chhipa3:19 PM
3130399221225
Zeeshan Naqvi3:19 PM
4210151751811
Muhammad Sameer3:20 PM
42501-1025700-1
Masroor3:20 PM
42401-1880106-5
Mohsin Kanani3:20 PM
4230108335683
Hassan Ahmed3:20 PM
4220156089133
Muhammad Sameer3:20 PM
4250110257001
Waqas Zafar3:20 PM
5440004083505
Ali Naiyar3:20 PM
4210120075463
Malik Humza3:20 PM
4240105171159
HAREEM RIZVI3:20 PM
42101-3311570-4
Muhammad Ayaz3:20 PM
4410242997959
Yusra Adnan3:20 PM
4210164790696
Shakir Hussain3:20 PM
4210182767349
Yusra Adnan3:20 PM
Yusra Adnan
Zareen Fatima3:20 PM
3520269403788
zain abidi3:20 PM
4250119167549
Muhammad Atique Qayyum3:20 PM
4250104502069
Syed Sajjad Raxa3:20 PM
4220143471143
usman ahmad3:20 PM
4220113316709
Syed Kashif3:21 PM
4250144488545
Syed Ammad Waheed3:21 PM
4210113863591
Dewan S Khan3:21 PM
4220105630741
Faizan Ehtesham3:21 PM
4240114707349
Hussain Ali3:21 PM
4220117852609
Muhammad Sameer3:21 PM
4210115022744
Arsalan Risalat3:21 PM
4220124812817
Mohsin Kanani3:21 PM
4230108335683
Syed Ammad Waheed3:21 PM
4210113863591 Syed Ammad Waheed Hassani
Asima Ali3:21 PM
4420626938874
Mushyada Ali3:21 PM
4210103553847
Muhammad Sameer3:22 PM
425010257001
Zareen Fatima3:22 PM
3520269403788
Mushyada Ali3:22 PM
4210146436547 M Afnan Ali Khan
Bilal Uddin3:22 PM
4220122868467 Abdullah
Sheikh Faizan3:22 PM
42101-7490505-9
Syed Tanveer3:22 PM
4220169252467
Sheikh Faizan3:22 PM
Sheikh Faizan
Mushyada Ali3:23 PM
4210103553847
Sheikh Faizan3:23 PM
Sheikh Faizan
42101-7490505-9
Muhammad Sameer3:23 PM
4250110257001
4210115022744
myd-bnjm-grb
"""
df1 = attendance(x)
df1['c1'] = 1
print(len(df1))
df1.head()

39

            CNIC  c1
0  4210103553847   1
1  4220143471143   1
2  4230108335683   1
3  4220169252467   1
4  4240114707349   1

# Class2

In [4]:
x = """
4220105630741
Dewan S Khan1:32 PM
4220105630741
Zareen Fatima1:35 PM
no voice
Khawar Masood1:39 PM
yes
Muhammad faizan Farooque1:39 PM
4230139662957
Syed Ammad Waheed1:42 PM
4210113863591 Syed Ammad Waheed Hassani
Muhammad Rohan1:58 PM
Avatar bnadya isne sir
Nazneen Akram1:58 PM
:D
Ad Khan1:59 PM
Muhammad Adnan Khan 4220113823383
Masroor2:02 PM
42401-1880106-5
Khawar Masood2:19 PM
42101-4113797-7
Rozina Mazhar Ali2:25 PM
4220159083880
Yusra Adnan2:30 PM
4210164790696
Bilal Uddin2:31 PM
4220122191357
Shakir Hussain2:31 PM
4210182767349
Nazneen Akram2:31 PM
4210145447712
Zahid Bashir2:33 PM
4250191411023
Munir Ali2:34 PM
4220101410369
zain abidi2:38 PM
4250119167549
Muhammad Rohan2:45 PM
4210116966995
Sania Tehseen2:54 PM
4210115022744
Syed Tanveer2:55 PM
4220169252467
Zareen Fatima2:55 PM
3520269403788
HAREEM RIZVI2:55 PM
42101-3311570-4
Asima Ali2:55 PM
4420626938874
Syed Masroor Ali (Masroor)2:58 PM
42401-1880106-5
You2:58 PM
https://github.com/EnggQasim/NED_ML_batch3/blob/main/class2/File%20Handling.ipynb
Dewan S Khan2:59 PM
4220105630741
Arsalan Risalat2:59 PM
4220124812817
Tabassum Ali3:03 PM
4230123126547
Arsalan Ahmed3:03 PM
42201-6535195-7
Haris Chhipa3:04 PM
4210156195059
Syed Masroor Ali (Masroor)3:07 PM
42201-2286846-7
Tariq Mehmood3:08 PM
4220104505899
Haris Chhipa3:09 PM
3130399221225
Shakir Hussain3:14 PM
42101-8276734-9
Dewan S Khan3:14 PM
4220105630741
Muhammad Sameer3:16 PM
4210115022744
4250110257001
Dewan S Khan3:16 PM
4220105630741
Syed Masroor Ali (Masroor)3:17 PM
42401-1880106-5
Zareen Fatima3:17 PM
3520269403788
Muhammad Atique Qayyum3:17 PM
4220140225263
Dewan S Khan3:17 PM
4220105630741
Khawar Masood3:17 PM
42101-4113797-7
Muhammad Rohan3:17 PM
4210116966995
Munir Ali3:17 PM
4220101410369
Hassan Ahmed3:17 PM
4220156089133
Sheikh Faizan3:17 PM
Sheikh Faizan
42101-7490505-9
Muhammad Sameer3:17 PM
4210115022744
4250110257001
Muhammad Ayaz3:17 PM
4410242997959
Nofil Ahmed3:17 PM
4210175076663
Fazal Diyan3:17 PM
42301-9945992-1
Mohsin Kanani3:17 PM
4230108335683
Syed Kashif Ahmed3:17 PM
4250144488545
Fazal Diyan3:17 PM
4210146436547
usman ahmad3:18 PM
4220113316709
Fazal Diyan3:18 PM
4210184252633
Malik Humza3:18 PM
4240105171159
Aqeel Mehdi3:18 PM
4220105436681
zain abidi3:18 PM
4250119167549
HAREEM RIZVI3:19 PM
42101-3311570-4
Bilal Ahmed3:19 PM
4210120075463
Khizra Rizvi3:19 PM
544004746932
Muhammad Sameer3:19 PM
4210115022744
4250110257001
Bilal Ahmed3:19 PM
4210198030681
myd-bnjm-grb
"""
df2 = attendance(x)
print(len(df2))
df2['c2'] = 1
df2.head()

43

            CNIC  c2
0  4220140225263   1
1  4210198030681   1
2  4230139662957   1
3  4220101410369   1
4  4230108335683   1

# Class3

In [5]:
x = """
4220105630741
Syed Tanveer1:40 PM
4240179641627
4220169252467
Zeeshan Naqvi1:40 PM
4210151751811
Syed Masroor Ali (Masroor)1:40 PM
42401-1880106-5
Mushyada Ali1:41 PM
4210103553847
Mohsin Kanani1:41 PM
4230108335683
Tatheer Fatima1:42 PM
4210124609792
Saba Naz1:42 PM
4250125987808
Zahid Bashir1:47 PM
4250191411023
Syed Ammad Waheed1:47 PM
4210113863591 Syed Ammad Waheed Hassani
Khawar Masood1:48 PM
Syed Khawar Masood Naqvi 
42101-4113797-7
Muhammad Rohan1:50 PM
I shared a Jam file with the meeting: https://jamboard.google.com/d/1o_ATMRDs92LgPetAhYNo3SzGiTVY8FstCST6Pw6mTGQ/edit?usp=meet_whiteboard
usman ahmad1:51 PM
crude oil and petrol
Dewan S Khan1:52 PM
4220105630741
usman ahmad1:55 PM
no sir
Hussain Ali2:03 PM
4220117852609
Ali Naiyar2:04 PM
4210198030681
Nazneen Akram2:07 PM
https://www.simplilearn.com/
I am using this learning machine learning
Syed Usama Shahzad2:08 PM
Thanks nazneen
Khizra Rizvi2:08 PM
Khizra
5440047459326
Muhammad Ayaz2:09 PM
RapidMiner is an open-source data science platform that provides an integrated environment for data preparation, machine learning, deep learning, text mining, and predictive modeling.
Rozina Mazhar Ali2:16 PM
4220159083880
Wasiq Gt2:16 PM
4250104502069
Muhammad Atique Qayyum2:17 PM
4220140225263
Arsalan Risalat2:24 PM
4220124812817
Tabassum Ali2:24 PM
4230123126547
Faiza Asad2:28 PM
4200052746960
Tariq Mehmood2:30 PM
4220104505899
Syed Usama Shahzad2:31 PM
42101-3416307-9
Tabish sheikh2:35 PM
4210129511133
zain abidi2:41 PM
4250119167549
Zeeshan Javed2:41 PM
4230189725317
Dewan S Khan2:41 PM
4220105630741
Yusra Adnan2:41 PM
4210164790696
Zeeshan Naqvi2:42 PM
4210151751811
Bilal Uddin2:42 PM
4220122191357
Dewan S Khan2:43 PM
4220105630741
usman ahmad2:45 PM
4220113316709
HAREEM RIZVI2:45 PM
4210133115704
Muhammad Rohan2:46 PM
4210116966995
Zareen Fatima2:46 PM
3520269403788
Asima Ali2:46 PM
4420626938874
Mohsin Kanani2:46 PM
4230108335683
Haris Chhipa2:46 PM
4210156195059
Nofil Ahmed2:46 PM
4210175076663
Syed Kashif2:46 PM
4250144488545
Dewan S Khan2:46 PM
4220105630741
Muhammad Ayaz2:46 PM
4410242997959
Faizan Ehtesham2:46 PM
4240114707349
Hassan Ahmed2:46 PM
4220156089133
Shakir Hussain2:46 PM
42101-9276734-9
Syed Usama Shahzad2:46 PM
42101-3416307-9
Syed Masroor Ali (Masroor)2:46 PM
42401-1880106-5
Faiza Asad2:46 PM
4200052746960
Rahat Qayoum EB20_110 (20102110)2:46 PM
4240128161338
Qazi Moawiz2:46 PM
3130399221225
Munir Ali2:46 PM
4220101410369
Syed Tanveer2:46 PM
4240179641627
taimoor qureshi2:46 PM
4240179641627
Saba Naz2:46 PM
4250125987808
Tatheer Fatima2:47 PM
4210124609792
Shakir Hussain2:47 PM
4210182767349
Syed Tanveer2:47 PM
4220169252467
Qazi Moawiz2:47 PM
3130399221225
Bilal Ahmed2:48 PM
4210120075463
4210182767349
Shakir Hussain
Nazneen Akram2:48 PM
4210145447712
Muhammad Rohan2:49 PM
4210116966995
myd-bnjm-grb
"""
df3 = attendance(x)
print(len(df3))
df3['c3'] = 1
df3.head()

46

            CNIC  c3
0  4220140225263   1
1  4210198030681   1
2  4210103553847   1
3  4220101410369   1
4  4230108335683   1

In [6]:
x4 = """
4220105630741
Tabassum Ali3:06 PM
sir your mic is off
Syed Masroor Ali (Masroor)3:06 PM
yes sir
Khawar Masood3:06 PM
Syed Khawar Masood Naqvi 
42101-4113797-7
Syed Masroor Ali (Masroor)3:07 PM
Yes
42401-1880106-5
Syed Ammad Waheed3:07 PM
4210113863591 Syed Ammad Waheed Hassani
Ali Naiyar3:07 PM
4210198030681
Ad Khan3:09 PM
Muhammad Adnan Khan
4220113823383
Muhammad Ayaz3:17 PM
4410242997959
Zeeshan Naqvi3:18 PM
4210151751811
Syed Tanveer3:18 PM
42201-6925246-7
Malik Humza3:18 PM
4240105171159
You3:18 PM
https://www.markdownguide.org/cheat-sheet/
Syed Masroor Ali (Masroor)3:20 PM
masroor
yes
OK
You3:21 PM
pip install tensorflow
Ali Naiyar3:22 PM
Already installed
Dewan S Khan3:22 PM
422010563074q
4220105630741
Tatheer Fatima3:23 PM
4210124609792
zain abidi3:23 PM
4250119167549
Zahid Bashir3:23 PM
4250191411023
Afnan Ali3:23 PM
4210146436547
Faiza Asad3:23 PM
4200052746960
Muhammad faizan Farooque3:23 PM
4230139662957
Mushyada Ali3:25 PM
4210103553847
Wasiq Gt3:28 PM
4210120075463
4250104502069
Mohsin Kanani3:34 PM
4230108335683
Zareen Fatima3:34 PM
please guide on which version to intall
Rozina Mazhar Ali3:40 PM
4220159083880
Saba Naz3:45 PM
4250125987808
Zeeshan Javed3:46 PM
4230189725317
Bilal Uddin3:47 PM
4220122191357
Arsalan Risalat3:56 PM
4220124812817
Faizan Ehtesham3:57 PM
4240114707349
Muhammad Ayaz4:03 PM
4410242997959
Tabassum Ali4:11 PM
4410242997959
Shakir Hussain4:14 PM
42101-8276734-9
4210182767349
Muhammad faizan Farooque4:16 PM
4230139662957
HAREEM RIZVI4:22 PM
42101-3311570-4
Zeeshan Naqvi4:22 PM
4210151751811
Hassan Ahmed4:22 PM
4220156089133
Syed Masroor Ali (Masroor)4:22 PM
42401-1880106-5
Tabish sheikh4:22 PM
4210129511133
Syed Kashif4:24 PM
4250144488545
Munir Ali4:24 PM
4220101410369
Nazneen Akram4:24 PM
4210145447712
Munir Ali4:29 PM
4220101410369
Dewan S Khan4:31 PM
4220105630741
Arsalan Ahmed4:31 PM
42201-6535195-7
Tariq Mehmood4:31 PM
4220104505899
Waqas Zafar4:34 PM
5440004083505
Syed Masroor Ali (Masroor)4:38 PM
42401-1880106-5
Dewan S Khan4:38 PM
4220105630741
Asima Ali4:38 PM
4420626938874
Bilal Ahmed4:40 PM
4210120075463
Muhammad Atique Qayyum4:43 PM
4220140225263
Yusra Adnan4:44 PM
4210164790696
Dewan S Khan4:44 PM
4220105630741
Syed Masroor Ali (Masroor)4:44 PM
42201-2286846-7
Faizan Ehtesham4:46 PM
4240114707349
Syed Tanveer4:46 PM
4220169252467
Zareen Fatima4:47 PM
3520269403788
Zeeshan Naqvi4:47 PM
4210151751811
Tabassum Ali4:49 PM
4230123126547
4230123126547
Haris Chhipa4:51 PM
4210156195059
Ali Naiyar4:51 PM
4210198030681
Dewan S Khan4:51 PM
4220105630741
Muhammad Sameer4:51 PM
4250110257001
Muhammad Ayaz4:51 PM
4410242997959
Qazi Moawiz4:51 PM
3130399221225
Munir Ali4:51 PM
4220101410369
Nofil Ahmed4:51 PM
4210175076663
Hussain Ali4:51 PM
4220117852609
Dewan S Khan4:51 PM
4220105630741
Muhammad Rohan4:51 PM
4210116966995
Sheikh Faizan4:51 PM
Sheikh m Faizan Saleem
42101-7490505-9
Fazal Diyan4:51 PM
4230199459921
Zeeshan Naqvi4:52 PM
4210151751811
Zeeshan Javed4:52 PM
4230189725317
Syed Masroor Ali (Masroor)4:52 PM
42401-1880106-5
Mohsin Kanani4:52 PM
423010835683
Muhammad Sameer4:52 PM
4210115022744
Faiza Asad4:52 PM
4200052746960
Khawar Masood4:52 PM
4210141137977
Faizan Ehtesham4:52 PM
4240114707349
Arsalan Ahmed4:52 PM
42201-6535195-7
Zareen Fatima4:52 PM
3520269403788
Tabish sheikh4:52 PM
4210129511133
Mohsin Kanani4:52 PM
4230108335683
Zeeshan Naqvi4:52 PM
4210151751811
Syed Masroor Ali (Masroor)4:52 PM
42201-2286846-7
Tatheer Fatima4:52 PM
4210124609792
Muhammad Sameer4:52 PM
4210115022744
myd-bnjm-grb
"""
df4 = attendance(x)
print(len(df4))
df4['c4'] = 1
df4.head()

46

            CNIC  c4
0  4220140225263   1
1  4210198030681   1
2  4210103553847   1
3  4220101410369   1
4  4230108335683   1

In [7]:
x5 = """
Zareen Fatima1:58 PM
yes
Saba Naz2:04 PM
4250125987808
Dewan S Khan2:04 PM
4220105630741
Munir Ali2:04 PM
4220101410369
Wasiq Gt2:04 PM
4250104502069
Ali Naiyar2:04 PM
4210198030681
Khawar Masood2:04 PM
4210141137977
Zeeshan Naqvi2:05 PM
4210151751811
Waqas Zafar2:05 PM
5440004083505
Meta Captives2:15 PM
4210120075463
Tabish sheikh2:15 PM
4210129511133
Zahid Bashir2:16 PM
4250191411023
Tatheer Fatima2:20 PM
4210124609792
Dewan S Khan2:21 PM
4220105630741
Muhammad Ayaz2:21 PM
4410242997959
Fazal Diyan2:22 PM
42301-9945992-1
Muhammad Uzair2:23 PM
True
Muneeb Ahmed2:24 PM
42101 8342718 3
Sheikh Faizan2:26 PM
done sir
Bilal Uddin2:30 PM
4220122191357
Syed Masroor Ali (Masroor)2:32 PM
4240118801065
Mohsin Kanani2:32 PM
4230108335683
Muhammad Uzair2:32 PM
4210184252633
Yusra Adnan2:33 PM
4210164790696
zain abidi2:34 PM
4250119167549
Faiza Asad2:34 PM
4200052746960
Zeeshan Javed2:35 PM
4230189725317
Muneeb Ahmed2:35 PM
42101 8342718 3
Khizra Rizvi2:35 PM
5440047459326
Syed Usama Shahzad2:46 PM
42101-3416307-9
Mohsin Kanani2:52 PM
42301-0833568-3
Hussain Ali2:55 PM
4220117852609
Tariq Mehmood3:02 PM
4220104505899
Syed Masroor Ali (Masroor)3:03 PM
4240118801065
Faizan Ehtesham3:03 PM
4240114707349
Arsalan Ahmed3:03 PM
42201-6535195-7
Dewan S Khan3:04 PM
4220105630741
Zareen Fatima3:04 PM
3520269403788
Qazi Moawiz3:04 PM
3130399221225
Mushyada Ali3:04 PM
4210103553847
Qazi Moawiz3:04 PM
4210156195059
Muneeb Ahmed3:04 PM
42101 8342718 3
Faiza Asad3:04 PM
4200052746960
Zeeshan Javed3:05 PM
4230189725317
Nazneen Akram3:05 PM
4210145447712
Asima Ali3:06 PM
4420626938874
Munir Ali3:07 PM
4220101410369
Shakir Hussain3:11 PM
4210182767349
HAREEM RIZVI3:12 PM
42101-3311570-4
Syed Kashif3:13 PM
4250144488545
Yusra Adnan3:13 PM
Can't hear you
Lagging
Zeeshan Javed3:14 PM
4230189725317
Rahat Qayoum EB20_110 (20102110)3:14 PM
4240128161338
Tabassum Ali3:14 PM
4230123126547
Meta Captives3:14 PM
4210120075463
Syed Tanveer3:14 PM
4220169252467
Afnan Ali3:14 PM
4210146436547
Hassan Ahmed3:14 PM
4220156089133
Mohsin Kanani3:14 PM
42301-0833568-3
Saba Naz3:14 PM
4250125987808
Faiza Asad3:14 PM
4200052746960
Nofil Ahmed3:14 PM
4210175076663
Sheikh Faizan3:14 PM
Sheikh Faizan
42101-7490505-9
Muhammad Rohan3:14 PM
4210116966995
Syed Masroor Ali (Masroor)3:14 PM
4240118801065
Fazal Diyan3:14 PM
42301-9945992-1
Afnan Ali3:14 PM
4250110257001
Tatheer Fatima3:14 PM
4210124609792
Asima Ali3:15 PM
4420626938874
Muhammad Uzair3:15 PM
4210184252633
zain abidi3:15 PM
4250119167549
Dewan S Khan3:16 PM
4220105630741
Wasiq Gt3:17 PM
4250104502069
Zeeshan Naqvi3:17 PM
4210151751811
Dewan S Khan3:17 PM
4220105630741
Shoaib Abdul Razzaque3:18 PM
5140176791651
Manal khan3:21 PM
42101-70238438
4250110257001
Zareen Fatima3:23 PM
yes
Muhammad Uzair3:23 PM
Yes sir
Malik Humza3:24 PM
4240105171159
Muhammad Ayaz3:25 PM
4410242997959
Malik Humza3:26 PM
Sir please, update my attendance.
4240105171159
myd-bnjm-grb
"""
df5 = attendance(x)
print(len(df5))
df5['c5'] = 1
df5.head()

46

            CNIC  c5
0  4220140225263   1
1  4210198030681   1
2  4210103553847   1
3  4220101410369   1
4  4230108335683   1

In [8]:
x = """
Shoaib Abdul Razzaque3:50 PM
5140176791651
Mohsin Kanani3:50 PM
4230108335683
Zeeshan Naqvi3:51 PM
4210151751811
Tatheer Fatima3:51 PM
4210124609792
Syed Tanveer3:51 PM
4220169252467
Nazneen Akram3:51 PM
4210145447712
Muhammad faizan Farooque3:52 PM
42301-3966295-7
4230139662957
Khawar Masood3:52 PM
4210141137977
zain abidi3:57 PM
4250119167549
Bilal Ahmed4:03 PM
4210120075463
Rozina Mazhar Ali4:09 PM
4220159083880
Tabish sheikh4:10 PM
4210129511133
Tariq Mehmood4:11 PM
4220104505899
Syed Masroor Ali (Masroor)4:12 PM
4240118801065
Faiza Asad4:13 PM
4200052746960
Arsalan Ahmed4:23 PM
42201-6535195-7
Ad Khan4:24 PM
Muhmmad Adnan Khan 4220113823383
HAREEM RIZVI4:25 PM
42101-3311570-4
Shakir Hussain4:25 PM
4210182767349
Tariq Mehmood4:27 PM
4210184252633
Faizan Ehtesham4:27 PM
4240114707349
Bilal Ahmed4:27 PM
4210120075463
4210198030681
Qazi Moawiz4:31 PM
3130399221225
Nazneen Akram4:31 PM
4210145447712
Asima Ali4:31 PM
4420626938874
Fazal Diyan4:31 PM
42301-9945992-1
Mohsin Kanani4:31 PM
4230108335683
Yusra Adnan4:31 PM
4210164790696
Rahat Qayoum EB20_110 (20102110)4:31 PM
4240128161338
Haris Chhipa4:31 PM
4210156195059
Syed Masroor Ali (Masroor)4:31 PM
4240118801065
Tabassum Ali4:31 PM
4230123126547
Sheikh Faizan4:31 PM
Sheikh Faizan
42101-7490505-9
Shoaib Abdul Razzaque4:31 PM
5140176791651
Hassan Ahmed4:31 PM
4220156089133
Tatheer Fatima4:31 PM
42101246097972
Zeeshan Naqvi4:31 PM
4210151751811
Syed Tanveer4:31 PM
4220169252467
Shakir Hussain4:31 PM
4210182767349
Muhammad Ayaz4:32 PM
4410242997959
Faiza Asad4:32 PM
4200052746960
Hussain Ali4:32 PM
4220117852609
Tabassum Ali4:32 PM
4230123126547
Wasiq Gt4:32 PM
4250104502069
usman ahmad4:32 PM
4220113316709
Syed Kashif4:32 PM
4250144488545
Hussain Ali4:32 PM
4220101410369
Zeeshan Javed4:32 PM
4230189725317
Bilal Uddin4:32 PM
4220124812817
Dewan S Khan4:32 PM
4220105630741
Mohsin Kanani4:33 PM
4230108335683
Qazi Moawiz4:33 PM
3130399221225
Fazal Diyan4:33 PM
42301-9945992-1
Bilal Uddin4:33 PM
4220122191357
Zareen Fatima4:33 PM
3520269403788
Haris Chhipa4:33 PM
4210156195059
Qazi Moawiz4:33 PM
3130399221225
Muneeb Ahmed4:33 PM
42101 8342718 3
Muhammad faizan Farooque4:33 PM
4230139662957
Malik Humza4:33 PM
4240105171159
Shakir Hussain4:33 PM
4210182767349
HAREEM RIZVI4:33 PM
42101-3311570-4
Tariq Mehmood4:33 PM
4220104505899
Tatheer Fatima4:33 PM
4210146436547
Sheikh Faizan4:34 PM
Sheikh Faizan
Zeeshan Javed4:34 PM
4230189725317
Sheikh Faizan4:34 PM
Sheikh Faizan
42101-74905059
Tabish sheikh4:34 PM
4210129511133
Muhammad faizan Farooque4:34 PM
4250119167549
Tatheer Fatima4:34 PM
4250110257001
You4:36 PM
https://github.com/EnggQasim/NED_ML_batch3/tree/main/class6
Dewan S Khan4:36 PM
4220105630741
myd-bnjm-grb
"""
df6 = attendance(x)
print(len(df6))
df6['c6'] = 1
df6.head()

46

            CNIC  c6
0  4210198030681   1
1  4230139662957   1
2  4220101410369   1
3  4230108335683   1
4  4220169252467   1

In [9]:
x = """
Ali Naiyar12:15 PM
4210198030681
Khawar Masood12:15 PM
42101-4113797-7
Mohsin Kanani12:15 PM
42301083
4230108335683
Syed Masroor Ali (Masroor)12:20 PM
4240118801065
Muhammad faizan Farooque12:27 PM
4230139662957
Ad Khan12:30 PM
Muhammad Adnan Khan 4220113823383
Syed Ammad Waheed12:35 PM
4210113863591 syed Ammad Waheed Hassani
Zeeshan Naqvi12:35 PM
4210151751811
Saba Naz12:35 PM
4250125987808
Zahid Bashir12:36 PM
4250191411023
Nazneen Akram12:37 PM
no voice?
Malik Humza12:41 PM
4240105171159
Mushyada Ali12:41 PM
4210103553847
Bilal Uddin12:52 PM
4220122191357
Zeeshan Javed12:53 PM
4230189725317
Dewan S Khan12:53 PM
4220105630741
usman ahmad12:53 PM
4220113316709
Mohsin Kanani12:53 PM
4230108335683
Arsalan Risalat12:54 PM
4220124812817
Mushyada Ali1:03 PM
421010355384
Syed Masroor Ali (Masroor)1:04 PM
4240118801065
Shakir Hussain1:04 PM
4210182767349
Muneeb Ahmed1:05 PM
42101 8342718 3
Waqas Zafar1:06 PM
5440004083505
Saba Naz1:08 PM
4250125987808
Muhammad Rohan1:13 PM
4210116966995
Zeeshan Javed1:15 PM
4230189725317
taimoor qureshi1:21 PM
4240179641627
Dewan S Khan1:22 PM
4220105630741
Tabish sheikh1:22 PM
4210129511133
Nazneen Akram1:22 PM
4210145447712
Dewan S Khan1:22 PM
4220105630741
4220105630741
Tariq Mehmood1:27 PM
4220104505899
Dewan S Khan1:27 PM
4220105630741
Arsalan Ahmed1:27 PM
42201-6535195-7
Syed Tanveer1:27 PM
4220169252467
HAREEM RIZVI1:27 PM
42101-3311570-4
Dewan S Khan1:27 PM
4220105630741
Syed Usama Shahzad1:27 PM
42101-3416307-9
Dewan S Khan1:27 PM
4220105630741
Rozina Mazhar Ali1:29 PM
4220159083880
Dewan S Khan1:29 PM
4220105630741
Bilal Ahmed1:34 PM
4210120075463
Muhammad faizan Farooque1:35 PM
4230139662957
Faiza Asad1:35 PM
4200052746960
Muhammad Ayaz1:35 PM
4410242997959
Shakir Hussain1:36 PM
4210182767349
Zeeshan Naqvi1:36 PM
4210151751811
Yusra Adnan1:37 PM
4210164790696
Zareen Fatima1:41 PM
3520269403788
zain abidi1:44 PM
4250119167549
Mohsin Kanani1:44 PM
4230108335683
Syed Masroor Ali (Masroor)1:47 PM
42201-2286846-7
Dewan S Khan1:47 PM
4220105630741
Shakir Hussain1:52 PM
4210182767349
Wasiq Gt1:52 PM
4250104502069
Dewan S Khan1:52 PM
4220105630741
Tabassum Ali1:52 PM
4230123126547
Muhammad Ali Syed Sadiqullah1:52 PM
4250105286907
Faiza Asad1:53 PM
4200052746960
Muhammad Rohan1:53 PM
4210116966995
Tabish sheikh1:54 PM
4210129511133
Haris Chhipa1:54 PM
4210156195059
Munir Ali1:54 PM
4220101410369
Syed Masroor Ali (Masroor)1:54 PM
4240118801065
Hassan Ahmed1:54 PM
4220156089133
Afnan Ali1:54 PM
4210146436547
Syed Tanveer1:54 PM
4220169252467
Qazi Moawiz1:54 PM
31303-9922122-5
Sheikh Faizan1:54 PM
Sheikh Faizan 42101-7490505-9
Mohsin Kanani1:54 PM
4230108335683
Muhammad Uzair1:55 PM
4210184252633
khizra batool1:55 PM
5440047459326
Asima Ali1:55 PM
4420626938874
Nofil Ahmed1:55 PM
4210175076663
zain abidi1:55 PM
4250119167549
Hussain Ali1:55 PM
4220117852609
Shakir Hussain1:55 PM
4210182767349
Faiza Asad1:55 PM
4200052746960
Zeeshan Javed1:55 PM
4230189725317
Fazal Diyan1:55 PM
42301-9945992-1
Syed Kashif1:55 PM
4250144488545
HAREEM RIZVI1:55 PM
4210133115704
Syed Masroor Ali (Masroor)1:55 PM
42201-2286846-7
Syed Ammad Waheed1:55 PM
4210113863591 Syed Ammad Waheed Hassani
Dewan S Khan1:55 PM
4220105630741
Muhammad Ayaz1:55 PM
4410242997959
Arsalan Ahmed1:56 PM
42201-6535195-7
Muhammad faizan Farooque1:56 PM
4230139662957
Syed Masroor Ali (Masroor)1:56 PM
4240105171159
Afnan Ali1:56 PM
4250110257001
Khawar Masood1:58 PM
42101411379777
Muhammad Rohan2:00 PM
4210116966995
myd-bnjm-grb
"""
df7 = attendance(x)
print(len(df7))
df7['c7'] = 1
df7.head()

53

            CNIC  c7
0  4210198030681   1
1  4230139662957   1
2  4210103553847   1
3  4220101410369   1
4  4230108335683   1

In [10]:
x = """
Mushyada Ali3:03 PM
ugd walay nahi hain is main
Zareen Fatima3:03 PM
please share class link
Dewan S Khan3:06 PM
4220105630741
Muhammad faizan Farooque3:09 PM
4230139662957
Syed Ammad Waheed3:12 PM
4210113863591 syed ammad waheed hassani
Syed Tanveer3:14 PM
4240179641627
Saba Naz3:20 PM
4250125987808
Zeeshan Naqvi3:20 PM
4210151751811
Mushyada Ali3:20 PM
4210103553847
Zahid Bashir3:23 PM
4250191411023
Malik Humza3:24 PM
4240105171159
Syed Tanveer3:28 PM
4240179641627
Ad Khan3:29 PM
Muhammad Adnan Khan 4220113823383
Muhammad faizan Farooque3:29 PM
4230139662957
Syed Tanveer3:30 PM
4220169252467
Zeeshan Naqvi3:43 PM
4210151751811
Saba Naz3:43 PM
4250125987808
Mohsin Kanani3:47 PM
42301-0833568-3
Bilal Uddin3:48 PM
4220122191357
Zeeshan3:49 PM
4230189725317
Yusra Adnan3:49 PM
4210164790696
Dewan S Khan3:49 PM
4220105630741
Arsalan Risalat3:56 PM
4220124812817
Tatheer Fatima3:58 PM
4210124609792
Nazneen Akram4:03 PM
4210145447712
FT Mania4:08 PM
4210129511133
Tariq Mehmood4:09 PM
4220104505899
Rahat Qayoum EB20_110 (20102110)4:11 PM
4240128161338
Mohsin Kanani4:15 PM
42301-0833568-3
Muhammad Ali Syed Sadiqullah4:15 PM
4250105286907
Bilal Ahmed4:18 PM
4210120075463
Syed Kashif Ahmed4:19 PM
4250144488545
Rozina Mazhar Ali4:19 PM
4220159083880
Bilal Ahmed4:20 PM
Ali Nayyar4:20PM
42101980930681
Nazneen Akram4:26 PM
4210145447712
Muhammad Atique Qayyum4:29 PM
4220140225263
HAREEM RIZVI4:32 PM
42101-3311570-4
Shakir Hussain4:32 PM
4210182767349
Syed Muhammad Abdullah4:34 PM
4220122868467
Faiza Asad4:34 PM
4200052746960
Syed Muhammad Abdullah4:34 PM
4240118801065
Zeeshan Naqvi4:34 PM
4210151751811
Tabassum Ali4:34 PM
4230123126547
Saba Naz4:34 PM
4250125987808
Hussain Ali4:34 PM
4220117852609
4220101410369
Zareen Fatima4:35 PM
3520269403788
Zahid Bashir4:35 PM
4250191411023
Zeeshan4:36 PM
4230189725317
Haris Chhipa4:36 PM
4210156195059
Dewan S Khan4:36 PM
4220105630741
Shakir Hussain4:36 PM
4210182767349
Mohsin Kanani4:36 PM
42301-0833568-3
Dewan S Khan4:36 PM
4220105630741
Haris Chhipa4:36 PM
3130399221225
Syed Kashif Ahmed4:36 PM
4250144488545
Faiza Asad4:36 PM
4200052746960
Fazal Diyan4:36 PM
42301-9945992-1
Asima Ali4:36 PM
4420626938874
Dewan S Khan4:36 PM
4220105630741
Syed Ammad Waheed4:36 PM
4210113863591 syed ammad waheed hassani
Sheikh Faizan4:36 PM
Sheikh Faizan Saleem
42101-7490505-9
Haris Chhipa4:36 PM
4210184252633
usman ahmad4:36 PM
4220113316709
Dewan S Khan4:36 PM
4220105630741 dewan
Hassan Ahmed4:36 PM
4220156089133
Hussain Ali4:36 PM
4210146436547
Khizra Rizvi4:37 PM
5440047459326
Muhammad Ayaz4:37 PM
4410242997959
You4:38 PM
https://classroom.google.com/c/NTgxNTQxMjY1Njgw?cjc=sxpv75s
Nofil Ahmed4:38 PM
4210175076663
Zeeshan4:38 PM
4230189725317
Fazal Diyan4:38 PM
42301-9945992-1
Tatheer Fatima4:38 PM
4210124609792
Dewan S Khan4:38 PM
4220105630741
Syed Tanveer4:39 PM
4220169252467
Bilal Ahmed4:39 PM
425014502069
Syed Tanveer4:39 PM
4240179641627
myd-bnjm-grb
"""

df8 = attendance(x)
print(len(df8))
df8['c8'] = 1
df8.head()

48

            CNIC  c8
0  4220140225263   1
1  4210198093068   1
2  4230139662957   1
3  4210103553847   1
4  4220101410369   1

In [11]:
x = """
Khawar Masood12:15 PM
4210141137977
Syed Khawar Masood Naqvi
Syed Masroor Ali (Masroor)12:16 PM
Ok Sir
Syed Ammad Waheed12:17 PM
4210113863591 syed Ammad Waheed Hassani
Syed Masroor Ali (Masroor)12:17 PM
Sir instructed not to mark any attendance until it is asked please...
Saba Naz12:20 PM
42501-2598780-8
Wasiq Gt12:21 PM
4250104502069
Muneeb Ahmed12:21 PM
42101 8342718 3
Syed Masroor Ali (Masroor)12:21 PM
Sir instructed not to mark any attendance until it is asked please...
Ali Naiyar12:22 PM
yes Sir.
You12:44 PM
data = [["Milk","Onion","Nutmeg","Kidney Beans","Eggs","Yogurt"],
       ["Dill","Onion","Nutmeg","Kidney Beans","Eggs","Yogurt"],
       ["Milk","Apple","Kidney Beans","Eggs"],
       ["Milk","Unicorn","Corn","Kidney Beans","Yogurt"],
       ["Corn","Onion","Onion","Kidney Beans","Ice Cream","Eggs"]]
Muhammad faizan Farooque12:47 PM
4230139662957
Zeeshan Naqvi12:47 PM
4210151751811
Mohsin Kanani12:50 PM
4230108335683
Tabish sheikh12:59 PM
4210129511133
Zahid Bashir1:00 PM
4250191411023
Zeeshan Javed1:02 PM
4230189725317
Bilal Uddin1:06 PM
4220122191357
taimoor qureshi1:06 PM
4240179641627
Bilal Ahmed1:07 PM
4210120075463
Munir Ali1:07 PM
4220101410369
Syed Masroor Ali (Masroor)1:08 PM
Sir instructed not to mark any attendance until it is asked please...
You1:11 PM
from mlxtend.frequent_patterns import apriori, fpgrowth


purchase_item = "Milk"
ratio = 0.6

rec1 = fpgrowth(df, min_support=ratio, use_colnames=True)
rec1['itemsets'] = rec1['itemsets'].apply(str)
rec1 = rec1[rec1['itemsets'].str.contains(purchase_item)]

rec2 = apriori(df, min_support=ratio, use_colnames=True, low_memory=True)
rec2['itemsets'] = rec2['itemsets'].apply(str)
rec2 = rec2[rec2['itemsets'].str.contains(purchase_item)]

print("==============FpGrowth=============")
display(rec1)

pr
You1:12 PM
https://github.com/EnggQasim/NED_ML_batch3/blob/main/class9_apriori_FPgrowth/FpGrowth_and_Apriori.ipynb
Rozina Mazhar Ali1:13 PM
4220159083880
Syed Ammad Waheed1:15 PM
4210113863591 syed Ammad Waheed Hassani
Muneeb Ahmed1:16 PM
42101 8342718 3
Shoaib Abdul Razzaque1:16 PM
5140176791651
Hassan Ahmed1:16 PM
42201 5608913 3
Zeeshan Javed1:16 PM
4230189725317
Shakir Hussain1:16 PM
4210182767349
Muneeb Ahmed1:16 PM
yes
Mushyada Ali1:16 PM
4210103553847
Muhammad faizan Farooque1:17 PM
4230139662957
Muneeb Ahmed1:23 PM
load kardin
Faizan Ehtesham1:24 PM
4240114707349
Zeeshan Javed1:24 PM
4230189725317
Muneeb Ahmed1:24 PM
yes sir
Syed Ammad Waheed1:25 PM
4210113863591 Syed Ammad Waheed Hassani
Muhammad faizan Farooque1:25 PM
4230139662957
Malik Humza1:30 PM
4240105171159
Rahat Qayoum EB20_110 (20102110)1:31 PM
4240128161338
Yusra Adnan1:34 PM
4210164790696
Tariq Mehmood1:34 PM
4220104505899
You1:35 PM
https://github.com/EnggQasim/NED_ML_batch3/blob/main/class9_apriori_FPgrowth/Streamlit/app1.py
Muneeb Ahmed1:35 PM
42101 8342718 3
Arsalan Risalat1:35 PM
4220124812817
Tabish sheikh1:36 PM
4210129511133
Hussain Ali1:36 PM
4220117852609
Muhammad Ali Syed Sadiqullah1:36 PM
4250105286907
Mohsin Kanani1:36 PM
4230108335683
Syed Muhammad Abdullah1:38 PM
4220122868467
Bilal Uddin1:38 PM
pip install mlxtend==0.21.0
Zareen Fatima1:39 PM
3520269403788
Syed Masroor Ali (Masroor)1:40 PM
42401-18801016-5
Nazneen Akram1:40 PM
4210145447712
Sheikh Faizan1:40 PM
Sheikh M Faizan
42101-7490505-9
Muhammad Rohan1:40 PM
4210116966995
Qazi Moawiz1:40 PM
31303-9922122-5
usman ahmad1:40 PM
4220113316709
Munir Ali1:40 PM
4220101410369
Syed Kashif1:40 PM
4250144488545
Ali Naiyar1:40 PM
4210198030681
Zeeshan Naqvi1:40 PM
4210151751811
Zeeshan Javed1:40 PM
4230189725317
Tabassum Ali1:40 PM
4230123126547
Asima Ali1:40 PM
4420626938874
Ad Khan1:40 PM
Muhammad Adnan Khan  42201-1382338-3
Syed Tanveer1:40 PM
4220169252467
Faiza Asad1:40 PM
4200052746960
Mohsin Kanani1:40 PM
4230108335683
Muhammad Ayaz1:40 PM
4410242997959
Syed Tanveer1:40 PM
4240179641627
Bilal Uddin1:45 PM
4220122191357
Saba Naz1:46 PM
4250125987808
Tabish sheikh1:46 PM
4210129511133
Faizan Ehtesham1:46 PM
4240114707349
khizra batool1:46 PM
5440047459326
Dewan S Khan1:46 PM
4220105630741
Afnan Ali1:46 PM
4210146436547
Dewan S Khan1:46 PM
4220105630741
zain abidi1:46 PM
4250119167549
Muhammad Ali Syed Sadiqullah1:47 PM
4250105286907
Dewan S Khan1:47 PM
4220105630741
Syed Kashif1:47 PM
4250144488545
Haris Chhipa1:48 PM
4210156195059
Muhammad faizan Farooque1:48 PM
4230139662957
myd-bnjm-grb
"""

df9 = attendance(x)
print(len(df9))
df9['c9'] = 1
df9.head()

47

            CNIC  c9
0  4210198030681   1
1  4230139662957   1
2  4210103553847   1
3  4220101410369   1
4  4230108335683   1

In [12]:
x = """
Muneeb Ahmed3:08 PM
42101 8342718 3
Syed Ammad Waheed3:09 PM
4210113863591 Syed Ammad Waheed Hassani
Tariq Mehmood3:10 PM
4220104505899
Mushyada Ali3:12 PM
4210103553847
Tariq Mehmood3:17 PM
screen show nahi ho rahi sir
Muhammad faizan Farooque3:22 PM
4230139662957
taimoor qureshi3:22 PM
4240179641627
Mohsin Kanani3:22 PM
4230108335683
Syed Sajjad Raxa3:22 PM
4220143471143
Dewan S Khan3:22 PM
4220105630741
Saba Naz3:24 PM
4250125987808
Syed Masroor Ali (Masroor)3:26 PM
42401-1880106-5
Zeeshan Naqvi3:26 PM
4210151751811
Syed Sajjad Raxa3:27 PM
4210141137977
Muhammad faizan Farooque3:43 PM
4230139662957
Syed Usama Shahzad3:44 PM
42101-3416307-9
Shoaib Abdul Razzaque3:52 PM
5140176791651
Dewan S Khan3:54 PM
4220105630741
Zeeshan Javed3:55 PM
4230189725317
Zahid Bashir3:58 PM
4250191411023
Syed Muhammad Abdullah4:00 PM
42220124812817
4220122868467
Rozina Mazhar Ali4:02 PM
4220159083880
Muhammad faizan Farooque4:04 PM
4250119167549
Syed Masroor Ali (Masroor)4:08 PM
42401-188106-5
Syed Masroor Ali (Masroor)4:15 PM
4240118801065
Shakir Hussain4:15 PM
4210182767349
Ali Naiyar4:16 PM
4210120075463 Bilal Ahmed
4210198030681
Shoaib Abdul Razzaque4:21 PM
5140176791651
Mohsin Kanani4:22 PM
4230108335683
Ad Khan4:24 PM
Muhammad Adnan Khan
4220113823383
Tabassum Ali4:26 PM
4230123126547
HAREEM RIZVI4:31 PM
4210133115704
Tabish sheikh4:31 PM
4210129511133
Zeeshan Naqvi4:35 PM
4210151751811
Dewan S Khan4:35 PM
4220105630741
Muhammad faizan Farooque4:39 PM
42301-3966295-7
Nazneen Akram4:40 PM
4210145447712
khizra batool4:43 PM
5440047459326
Zareen Fatima4:43 PM
3520269403788
Zahid Bashir4:43 PM
4250191411023
Zeeshan Naqvi4:43 PM
4210151751811
Tabassum Ali4:44 PM
4230123126547
Syed Tanveer4:44 PM
4220169252467
Zeeshan Javed4:44 PM
4230189725317
Hassan Ahmed4:44 PM
4220156089133
Saba Naz4:44 PM
4250125987808
Muhammad Rohan4:44 PM
4210116966995
Tariq Mehmood4:44 PM
4220104505899
Asima Ali4:44 PM
4420626938874
Muhammad faizan Farooque4:44 PM
42301-3966295-7
Faiza Asad4:44 PM
4200052746960
Bilal Uddin4:44 PM
4220122191357
Muhammad Ayaz4:44 PM
4250104502069
Sheikh Faizan4:44 PM
Sheikh Muhammad Faizan Saleem
42101-7490505-9
Muhammad Atique Qayyum4:44 PM
4220140225263
Syed Sajjad Raxa4:44 PM
4220143471143
Hussain Ali4:44 PM
4220117852609
Dewan S Khan4:44 PM
4220105630741
Zeeshan Javed4:44 PM
4230189725317
Dewan S Khan4:44 PM
4220105630741
Muhammad Ayaz4:44 PM
4410242997959
Mohsin Kanani4:44 PM
4230108335683
Dewan S Khan4:44 PM
4220105630741
Hussain Ali4:44 PM
4220101410369
Dewan S Khan4:44 PM
4220105630741
taimoor qureshi4:44 PM
4240179641627
Yusra Adnan4:44 PM
4210164790696
usman ahmad4:45 PM
4220113316709
4210146436547
HAREEM RIZVI4:45 PM
4210133115704
Haris Chhipa4:46 PM
4210156195059
Syed Masroor Ali (Masroor)4:46 PM
4240118801065
Shakir Hussain4:47 PM
4210182767349
Ad Khan4:47 PM
Muhammad Adnan Khan
42220113823383
Muhammad Rohan4:47 PM
4210116966995
Muhammad Uzair4:47 PM
4210184252633
Haris Chhipa4:48 PM
3130399221225
Nofil Ahmed4:48 PM
4210175076663
Syed Masroor Ali (Masroor)4:49 PM
4240118801065
Dewan S Khan4:49 PM
4220105630741
Ad Khan4:49 PM
Please update my NIC# 4220113823383 FOR CLASS 1,3&4
Muhammad faizan Farooque4:49 PM
4230139662957
Syed Sajjad Raxa4:49 PM
4220143471143
Dewan S Khan4:50 PM
4220105630741
4220105630741
myd-bnjm-grb
"""
df10 = attendance(x)
print(len(df10))
df10['c10'] = 1
df10.head()

50

            CNIC  c10
0  4222011382338    1
1  4220140225263    1
2  4210198030681    1
3  4210103553847    1
4  4230139662957    1

In [13]:
x = """
Dewan S Khan12:18 PM
4220105630741
Syed Ammad Waheed12:20 PM
4210113863591 syed ammad waheed hassani
Muhammad Atique Qayyum12:21 PM
4220140225263
Muhammad Ali Syed Sadiqullah12:21 PM
4250105286907
Muhammad faizan Farooque12:23 PM
4230139662957
Syed Muhammad Abdullah12:42 PM
4220122868467
Zeeshan Naqvi12:42 PM
4210151751811
Syed Masroor Ali (Masroor)12:43 PM
4240118801065
Munir Ali12:43 PM
4220101410369
Tatheer Fatima12:43 PM
4210124609792
Muhammad faizan Farooque12:43 PM
4230139662957
Fazal Diyan12:44 PM
42301-9945992-1
taimoor qureshi12:52 PM
4240179641627
Khawar Masood12:54 PM
42101-4113797-7
Syed Usama Shahzad12:55 PM
42101-3416307-9
Mushyada Ali12:58 PM
4210103553847
Mohsin Kanani12:59 PM
4230108335683
Muhammad Ali Syed Sadiqullah1:01 PM
4250105286907
Muhammad faizan Farooque1:02 PM
4230139662957
Syed Masroor Ali (Masroor)1:04 PM
4240118801065
Muhammad Ayaz1:04 PM
4410242997959
zain abidi1:04 PM
4250119167549
Tariq Mehmood1:04 PM
4220104505899
Wasiq Gt1:17 PM
4250104502069
Muhammad faizan Farooque1:18 PM
4230139662957
Bilal Uddin1:21 PM
4220122191357
Hassan Ahmed1:21 PM
4220156089133
Muneeb Ahmed1:21 PM
42101 8342718 3
Bilal Ahmed1:24 PM
4210120075463
Zahid Bashir1:24 PM
4250191411023
Syed Masroor Ali (Masroor)1:25 PM
4240118801065
usman ahmad1:28 PM
4220113316709
Muhammad faizan Farooque1:29 PM
4230139662957
Ali Naiyar1:33 PM
4210198030681
Mohsin Kanani1:36 PM
4230108335683
Zareen Fatima1:38 PM
3520269403788
Syed Masroor Ali (Masroor)1:39 PM
4240118801065
Shakir Hussain1:39 PM
4210182767349
Zareen Fatima1:42 PM
520269403788
Zeeshan Naqvi1:43 PM
4210151751811
Haris Chhipa1:43 PM
4210156195059
Arsalan Risalat1:43 PM
4220124812817
Afnan Ali1:43 PM
4210146436547
Ad Khan1:44 PM
Muhammad Adnan Khan
Munir Ali1:44 PM
4220101410369
Dewan S Khan1:44 PM
422010563074q
Hussain Ali1:44 PM
4220117852609
Muhammad Ayaz1:44 PM
4410242997959
Dewan S Khan1:44 PM
4220105630741
Ad Khan1:44 PM
Muhammad Adnan Khan
Syed Tanveer1:44 PM
4220169252467
Saba Naz1:45 PM
4250125987808
Ad Khan1:45 PM
4220113823383
Dewan S Khan1:45 PM
4220105630741
Syed Tanveer1:45 PM
4240179641627
Ad Khan1:45 PM
Muhammad Adnan Khan
4220113823383
Khizra Rizvi1:45 PM
5440047459326
Mohsin Kanani1:45 PM
4230108335683
Fazal Diyan1:46 PM
42301-9945992-1
Muhammad faizan Farooque1:46 PM
4230139662957
Dewan S Khan1:46 PM
4220105630741
Syed Masroor Ali (Masroor)1:46 PM
4240118801065
Shakir Hussain1:46 PM
4210182767349
Syed Kashif Ahmed1:47 PM
4250144488545
Shakir Hussain1:48 PM
4210182767349
Dewan S Khan1:53 PM
4220105630741
Tabassum Ali1:54 PM
4230123126547
Muhammad faizan Farooque1:54 PM
4230139662957
HAREEM RIZVI1:55 PM
4210133115704
Rozina Mazhar Ali1:56 PM
4220159083880
Saba Naz1:57 PM
Sir plz mid term next week kar len .
Syed Ammad Waheed1:58 PM
4210113863591 syed Ammad Waheed Hassani
Qazi Moawiz1:58 PM
3130399221225
Syed Masroor Ali (Masroor)1:58 PM
4240118801065
Bilal Uddin1:59 PM
4220122191357
Asima Ali1:59 PM
4420626938874
Dewan S Khan1:59 PM
4220105630741
Muhammad faizan Farooque1:59 PM
4230139662957
Dewan S Khan1:59 PM
4220105630741
Fazal Diyan1:59 PM
42301-9945992-1
Nazneen Akram1:59 PM
4210145447712
Faiza Asad1:59 PM
4200052746960
Zareen Fatima1:59 PM
3520269403788
Syed Kashif Ahmed1:59 PM
4250144488545
Ali Naiyar1:59 PM
4210198030681
Afnan Ali1:59 PM
4210146436547
Muhammad Atique Qayyum1:59 PM
4220140225263
Zeeshan Naqvi1:59 PM
4210151751811
Sheikh Faizan2:00 PM
Sheikh M Faizan Saleem
42101-7490505-9
Dewan S Khan2:00 PM
4220105630741
Muhammad Rohan2:00 PM
4210116966995
Sheikh Faizan2:01 PM
Sheikh Faizan
42101-7490505-9
Saba Naz2:01 PM
Sir next week kar len mid term
Haris Chhipa2:02 PM
4210156195059
Muhammad faizan Farooque2:02 PM
4230139662957
Fazal Diyan2:02 PM
42301-9945992-1
Muhammad Rohan2:02 PM
4210116966995
myd-bnjm-grb
"""
df11 = attendance(x)
print(len(df11))
df11['c11'] = 1
df11.head()

46

            CNIC  c11
0  4220140225263    1
1  4210198030681    1
2  4230139662957    1
3  4210103553847    1
4  4220101410369    1

In [14]:
x = """
Muhammad Ali Syed Sadiqullah12:16 PM
Jee sir
Syed Ammad Waheed12:26 PM
4210113863591 syed Ammad Waheed Hassani
taimoor qureshi12:26 PM
4240179641627
Mohsin Kanani12:27 PM
4230108335683
Saba Naz12:27 PM
4250125987808
Muhammad faizan Farooque12:31 PM
4230139662957
Syed Muhammad Abdullah12:32 PM
4220122868467
Dewan S Khan12:41 PM
4220105630741
Khawar Masood12:47 PM
4210141137977
Muhammad faizan Farooque12:48 PM
4230139662957
Ad Khan12:53 PM
Muhammad Adnan Khan
4220113823383
Muhammad Ali Syed Sadiqullah12:54 PM
4250105286907
Dewan S Khan12:57 PM
422010563074q
4220105630741
zain abidi12:57 PM
4250119167549
Munir Ali12:58 PM
4220101410369
Zeeshan Naqvi12:58 PM
4210151751811
Muhammad faizan Farooque1:07 PM
4230139662957
Rozina Mazhar Ali1:11 PM
4220159083880
Muhammad Atique Qayyum1:13 PM
4220140225263
Faizan Ehtesham1:20 PM
4240114707349
Nazneen Akram1:20 PM
4210145447712
Zahid Bashir1:20 PM
4250191411023
Wasiq Gt1:22 PM
4210120075463
4250104502069
Ali Naiyar1:22 PM
4210198030681
Muhammad faizan Farooque1:23 PM
4230139662957
Haris Chhipa1:23 PM
4210156195059
Shakir Hussain1:28 PM
4210120075463
Haris Chhipa1:28 PM
38032.4
Zeeshan Javed1:28 PM
4230189725317
Shakir Hussain1:28 PM
4210182767349
Yusra Adnan1:29 PM
4210164790696
Muhammad Rohan1:34 PM
4210116966995
Muhammad faizan Farooque1:35 PM
4230139662957
Mohsin Kanani1:36 PM
4230108335683
Syed Ammad Waheed1:37 PM
4210113863591 Syed Ammad Waheed Hassani
Arsalan Ahmed1:37 PM
4220165351957
Shoaib Abdul Razzaque1:37 PM
5140176791651
Tariq Mehmood1:37 PM
4220104505899
Afnan Ali1:38 PM
4210146436547
Munir Ali1:38 PM
4220101410369
Zeeshan Naqvi1:40 PM
4210151751811
HAREEM RIZVI1:41 PM
42101-3311570-4
Muhammad faizan Farooque1:42 PM
4230139662957
Tabassum Ali1:42 PM
4230123126547
Syed Kashif1:46 PM
4250144488545
Zareen Fatima1:49 PM
3520269403788
Dewan S Khan1:53 PM
4220105630741
Syed Tanveer1:53 PM
4220169252467
Muhammad faizan Farooque1:54 PM
4230139662957
Munir Ali1:55 PM
4220101410369
Hussain Ali1:57 PM
4220117852609
khizra batool1:59 PM
5440047459326
Zeeshan Javed2:00 PM
4230189725317
Munir Ali2:00 PM
4220101410369
Faiza Asad2:00 PM
4200052746960
Asima Ali2:00 PM
4420626938874
Nofil Ahmed2:00 PM
4210175076663
Syed Kashif2:00 PM
4250144488545
Arsalan Ahmed2:00 PM
42201-6535195-7
Qazi Moawiz2:00 PM
3130399221225
Zeeshan Naqvi2:00 PM
4210151751811
Muhammad Atique Qayyum2:00 PM
4220140225263
Mohsin Kanani2:00 PM
4230108335683
Saba Naz2:00 PM
4250125987808
Afnan Ali2:00 PM
4210146436547
Nazneen Akram2:00 PM
4210145447712
Muhammad Rohan2:00 PM
4210116966995
Faizan Ehtesham2:00 PM
4240114707349
Qazi Moawiz2:00 PM
4410242997959
Mushyada Ali2:00 PM
4210103553847
Haris Chhipa2:00 PM
4210156195059
Khawar Masood2:00 PM
421041137977
Syed Tanveer2:00 PM
4220169252467
Syed Ammad Waheed2:01 PM
4210113863591 syed Ammad Waheed Hassani
Ali Naiyar2:02 PM
4210198030681
4210120075463
Ad Khan2:04 PM
Muhammad Adnan Khan
4220113823383
Muhammad faizan Farooque2:05 PM
4230139662957
Dewan S Khan2:05 PM
4220105630741
Muhammad Uzair2:06 PM
4210184252633
Muhammad faizan Farooque2:07 PM
4230139662957
Muhammad Uzair2:07 PM
Attendence mark karden sir
Dewan S Khan2:07 PM
4220105630741
myd-bnjm-grb
"""


df12 = attendance(x)
print(len(df12))
df12['c12'] = 1
df11.head()

44

            CNIC  c11
0  4220140225263    1
1  4210198030681    1
2  4230139662957    1
3  4210103553847    1
4  4220101410369    1

In [15]:
x = """
Syed Ammad Waheed3:19 PM
4210113863591 Syed Ammad Waheed Hassani
taimoor qureshi3:19 PM
4240179641627
Bilal Uddin3:25 PM
4220122191357
Mushyada Ali3:53 PM
4210103553847
Zeeshan Javed4:02 PM
4230189725317
Saba Naz4:03 PM
4250125987808
Malik Humza4:03 PM
4240105171159
Zeeshan Naqvi4:08 PM
4210151751811
Hassan Ahmed4:10 PM
4220156089133
Zahid Bashir4:10 PM
4250191411023
Syed Masroor Ali (Masroor)4:12 PM
4240118801065
Shakir Hussain4:17 PM
4210182767349
Shoaib Abdul Razzaque4:18 PM
5140176791651
Nazneen Akram4:18 PM
4210145447712
You4:18 PM
https://machinelearningmastery.com/prepare-text-data-machine-learning-scikit-learn/
Muhammad faizan Farooque4:19 PM
4230139662957
Zeeshan Naqvi4:19 PM
4210151751811
Mohsin Kanani4:19 PM
4230108335683
Muhammad Rohan4:21 PM
4210116966995
Tatheer Fatima4:21 PM
4210124609792
Muhammad faizan Farooque4:24 PM
4230139662957
Muhammad Uzair4:25 PM
4210184252633
Syed Sajjad Raxa4:25 PM
4220143471143
Muhammad faizan Farooque4:27 PM
4230139662957
Rahat Qayoum EB20_110 (20102110)4:27 PM
4240128161338
Warda Fatima Zeeshan4:28 PM
5440047459326
Arsalan Ahmed4:29 PM
4220165351957
Zareen Fatima4:29 PM
3520269403788
Syed Kashif4:30 PM
4250144488545
Yusra Adnan4:30 PM
4210164790696
Fazal Diyan4:30 PM
42301-9945992-1
Faiza Asad4:31 PM
4200052746960
Muhammad faizan Farooque4:31 PM
4230139662957
Syed Kashif4:32 PM
4250144488545
Muhammad faizan Farooque4:33 PM
4230139662957
Afnan Ali4:33 PM
4210146436547
Ali Naiyar4:34 PM
4210198030681
Nazneen Akram4:34 PM
4210145447712
Syed Tanveer4:34 PM
4220169252467
KORANGI CARE4:34 PM
4220104505899
Arsalan Ahmed4:34 PM
4220165351957
Muhammad Ayaz4:34 PM
4410242997959
Tabassum Ali4:34 PM
4230123126547
Syed Sajjad Raxa4:34 PM
4220143471143
Asima Ali4:34 PM
4420626938874
Hassan Ahmed4:34 PM
4220156089133
Syed Kashif4:34 PM
4250144488545
Syed Muhammad Abdullah4:34 PM
4220122868467
Ali Naiyar4:34 PM
4210120075463
Muhammad Rohan4:34 PM
4210116966995
HAREEM RIZVI4:34 PM
42101-3311570-4
Hussain Ali4:34 PM
4220117852609
KORANGI CARE4:35 PM
4220104505899
Afnan Ali4:35 PM
4210146436547
usman ahmad4:35 PM
4220113316709
Mohsin Kanani4:35 PM
4230108335683
Syed Masroor Ali (Masroor)4:35 PM
4240118801065
Zareen Fatima4:35 PM
3520269403788
Saba Naz4:35 PM
4250125987808
Hussain Ali4:35 PM
4220101410369
Yusra Adnan4:35 PM
4210164790696
Zahid Bashir4:35 PM
4250191411023
Syed Masroor Ali (Masroor)4:35 PM
4240118801065
taimoor qureshi4:35 PM
4240179641627
Muhammad Atique Qayyum4:35 PM
4220140225263
Faiza Asad4:35 PM
4200052746960
Shoaib Abdul Razzaque4:35 PM
5140176791651
Nazneen Akram4:35 PM
4210145447712
Haris Chhipa4:35 PM
4210156195059
3130399221225
HAREEM RIZVI4:36 PM
5440047459326
Ali Naiyar4:36 PM
4250104502069
myd-bnjm-grb
"""

df13 = attendance(x)
print(len(df13))
df13['c13'] = 1
df13.head()

45

            CNIC  c13
0  4220140225263    1
1  4210198030681    1
2  4210103553847    1
3  4230139662957    1
4  4220143471143    1

In [16]:
x = """
Dewan S Khan12:13 PM
connected
Ali Naiyar12:13 PM
yes
Dewan S Khan12:15 PM
4220105630741
Nofil Ahmed12:23 PM
4210175076663
Khawar Masood12:25 PM
4210141137977
Muhammad Atique Qayyum12:30 PM
4220140225263
Ad Khan12:40 PM
Muhammad Adnan Khan
4220113823383
Syed Ammad Waheed12:41 PM
4210113863591 syed ammad waheed hassani
Rahat Qayoum EB20_110 (20102110)12:44 PM
4240128161338
Malik Humza12:46 PM
4240105171159
Mohsin Kanani12:47 PM
4230108335683
Dewan S Khan12:49 PM
4220105630741
Zeeshan Naqvi12:50 PM
4210151751811
Syed Masroor Ali (Masroor)12:50 PM
4240118801065
Muhammad Uzair12:55 PM
4210184252633
Zeeshan Naqvi12:56 PM
No
Mohsin Kanani12:57 PM
4230108335683
Rozina Mazhar Ali12:59 PM
4220159083880
taimoor qureshi1:00 PM
4240179641627
Saba Naz1:00 PM
4250125987808
Syed Masroor Ali (Masroor)1:04 PM
4240118801065
Nofil Ahmed1:04 PM
4210175076663
manal saba (EB20102055)1:04 PM
4210170238438
Bilal Uddin1:06 PM
4220122191357
Khawar Masood1:09 PM
4240114707349
Arsalan Ahmed1:13 PM
4220165351957
Mushyada Ali1:14 PM
4210103553847
Dewan S Khan1:14 PM
4220105630741
Fazal Diyan1:14 PM
4230199459921
Wasiq Gt1:19 PM
4250104502069
Tariq Mehmood1:19 PM
4220104505899
Faizan Ehtesham1:20 PM
4240114707349
Muhammad Ali Syed Sadiqullah1:24 PM
4250105286907
Syed Tanveer1:29 PM
4220169252467
Shoaib Abdul Razzaque1:32 PM
5140176791651
usman ahmad1:34 PM
4220113316709
Syed Kashif1:36 PM
4250144488545
Syed Tanveer1:36 PM
4220169252467
Syed Kashif1:36 PM
4250144488545
HAREEM RIZVI1:36 PM
42101-3311570-4
Qazi Moawiz1:36 PM
31303-9922122-5
Syed Masroor Ali (Masroor)1:36 PM
4240118801065
Afnan Ali1:36 PM
4210146436547
Hassan Ahmed1:36 PM
4220156089133
Arsalan Ahmed1:36 PM
42201-6535195-7
Ali Naiyar1:36 PM
4210198030681
Zareen Fatima1:36 PM
3520269403788
Muhammad Rohan1:36 PM
4210116966995
Zeeshan Naqvi1:36 PM
4210151751811
Faiza Asad1:36 PM
4200052746960
khizra batool1:36 PM
5440047459326
Muhammad Atique Qayyum1:36 PM
4220140225263
Fazal Diyan1:36 PM
3
42301-9945992-1
Hussain Ali1:36 PM
4220117852609
Qazi Moawiz1:37 PM
4210156195059
Tabassum Ali1:37 PM
4230123126547
Ad Khan1:37 PM
Muhammad Adnan Khan
4220113823383
Yusra Adnan1:37 PM
4210164790696
You1:39 PM
https://github.com/EnggQasim/Saylani-A.I/blob/master/DOCKER/class1.txt
Muhammad faizan Farooque1:39 PM
4230139662957
myd-bnjm-grb
"""


df14 = attendance(x)
print(len(df14))
df14['c14'] = 1
df14.head()

42

            CNIC  c14
0  4220140225263    1
1  4210198030681    1
2  4210103553847    1
3  4230139662957    1
4  4230108335683    1

In [17]:
x = """
Syed Masroor Ali (Masroor)3:51 PM
yep
Syed Usama Shahzad3:51 PM
They sre thinking their internet stuckee
Bilal Ahmed3:51 PM
OK
Syed Masroor Ali (Masroor)3:51 PM
Yes
Syed Usama Shahzad3:51 PM
42101-3416307-9
Bilal Ahmed3:51 PM
Sir is joining in a mement
Zeeshan Naqvi3:51 PM
Yes
Nazneen Akram3:51 PM
4210145447712
Wasiq Gt3:52 PM
4250104502069
Zeeshan Naqvi3:52 PM
4210151751811
Saba Naz3:52 PM
4250125987808
Syed Masroor Ali (Masroor)3:52 PM
4240118801065
Mohsin Kanani3:52 PM
4230108335683
Haris Chhipa3:52 PM
4210156195059
Muhammad Uzair3:52 PM
4210184252633
Syed Tanveer3:53 PM
4220169252467
Tariq Mehmood3:55 PM
4220104505899
Arsalan Ahmed3:56 PM
4220165351957
tabish3:59 PM
4210129511133
Haris Chhipa4:02 PM
3130399221225
Faizan Ehtesham4:02 PM
4240114707349
Ad Khan4:03 PM
Muhammad Adnan Khan
4220113823383
Syed Masroor Ali (Masroor)4:08 PM
4220124812817
Bilal Uddin4:10 PM
4220122191357
Faizan Ehtesham4:13 PM
4240114707349
Dewan S Khan4:15 PM
4220105630741
Mohsin Kanani4:15 PM
42301-0833568-3
Tatheer Fatima4:15 PM
4210124609792
Bilal Ahmed4:17 PM
4210120075463
Zeeshan Javed4:18 PM
4230189725317
Syed Tanveer4:20 PM
4220169252467
Fazal Diyan4:20 PM
42301-9945992-1
Ali Naiyar4:20 PM
4210198030681
Shakir Hussain4:20 PM
421018276349
Nazneen Akram4:20 PM
4210145447712
Syed Usama Shahzad4:20 PM
42101-3416307-9
Syed Masroor Ali (Masroor)4:20 PM
4240118801065
Asima Ali4:20 PM
4420626938874
Faizan Ehtesham4:20 PM
4240114707349
Zareen Fatima4:20 PM
3520269403788
tabish4:20 PM
4210129511133
Faiza Asad4:20 PM
4200052746960
Tabassum Ali4:20 PM
4230123126547
Muhammad Atique Qayyum4:20 PM
4220140225263
Zeeshan Naqvi4:20 PM
4210151751811
HAREEM RIZVI4:20 PM
4210133115704
Shakir Hussain4:20 PM
4210182767349
Muhammad Uzair4:20 PM
4210184252633
Afnan Ali4:20 PM
4210146436547
Muhammad Rohan4:20 PM
4210116966995
Syed Masroor Ali (Masroor)4:20 PM
4220124812817
Muhammad Ayaz4:20 PM
4410242997959
Ad Khan4:20 PM
Muhammad Adnan Khan
4220113823383
Syed Tanveer4:20 PM
4240179641627
Syed Sajjad Raxa4:20 PM
4220143471143
Hassan Ahmed4:20 PM
4220156089133
Syed Kashif4:20 PM
4250144488545
usman ahmad4:20 PM
4220113316709
HAREEM RIZVI4:20 PM
Khizra: 5440047459326
Syed Kashif4:20 PM
4250144488545
Syed Sajjad Raxa4:20 PM
4210141137977
Arsalan Ahmed4:20 PM
4220165351957
Fazal Diyan4:20 PM
4230199459921
Yusra Adnan4:21 PM
4210164790696
zain abidi4:21 PM
4250119167549
Muneeb Ahmed4:23 PM
42101 8342718 3
Dewan S Khan4:25 PM
4220105630741
Zareen Fatima4:25 PM
yes
Mohsin Kanani4:26 PM
42301-0833568-3
Malik Humza4:28 PM
4240105171159
Haris Chhipa4:38 PM
3130399221225
4210156195059
myd-bnjm-grb
"""


df15 = attendance(x)
print(len(df15))
df15['c15'] = 1
df15.head()

44

            CNIC  c15
0  4220140225263    1
1  4210198030681    1
2  4220143471143    1
3  4230108335683    1
4  4220169252467    1

In [18]:
x = """
Tabish sheikh12:24 PM
https://download.cnet.com/FlashBack-Express/3000-13633_4-10365043.html
Shoaib Abdul Razzaque12:26 PM
5140176791651
Munir Ali12:30 PM
4220101410369
Team NED Academy12:33 PM
Sir please start recording
Muhammad faizan Farooque12:38 PM
4230139662957
Muhammad Ali Syed Sadiqullah12:38 PM
4250105286907
Muhammad Ali Syed Sadiqullah12:52 PM
Syed Masroor Ali 4240118801065
taimoor qureshi12:53 PM
4240179641627
Rozina Mazhar Ali12:54 PM
4220159083880
Muhammad Atique Qayyum12:55 PM
4220140225263
Muhammad faizan Farooque12:55 PM
4230139662957
zain abidi12:56 PM
4250119167549
Hussain Ali12:56 PM
4220117852609
Muneeb Ahmed12:56 PM
42101 8342718 3
Dewan S Khan1:01 PM
4220105630451
Arsalan Ahmed1:01 PM
4220165351957
Rahat Qayoum EB20_110 (20102110)1:03 PM
4240128161338
Khawar Masood1:06 PM
4210141137977
Nofil Ahmed1:08 PM
4210175076663
Munir Ali1:12 PM
4220101410369
Tabish sheikh1:12 PM
4210129511133
khizra batool1:12 PM
5440047459326
Zeeshan Naqvi1:13 PM
4210151751811
Saba Naz1:14 PM
4250125987808
Bilal Ahmed1:17 PM
4240118801065
4210120075463
Ali Naiyar1:17 PM
4210198030681
manal saba (EB20102055)1:18 PM
4210170238438
DRM QC1:21 PM
4220169252467
Tariq Mehmood1:22 PM
4220104505899
Muhammad faizan Farooque1:23 PM
4230139662957
Dewan S Khan1:27 PM
4220105630741
Yusra Adnan1:28 PM
4210164790696
Haris Chhipa1:30 PM
4210156195059
Syed Tanveer1:31 PM
4220169252467
Muhammad Uzair1:31 PM
Yes sir
Shakir Hussain1:32 PM
4210182767349
Muhammad Uzair1:32 PM
4210184252633
Asima Ali1:40 PM
4420626938874
Muhammad Uzair1:40 PM
No sir clear
Muhammad faizan Farooque1:40 PM
4230139662957
Hassan Ahmed1:40 PM
4220156089133
Shoaib Abdul Razzaque1:41 PM
5140176791651
Ad Khan1:41 PM
Muhammad Adnan Khan
4220113823383
Tabassum Ali1:41 PM
4220124812817
Syed Kashif Ahmed1:41 PM
4250144488545
Tabish sheikh1:47 PM
4210129511133
Muhammad faizan Farooque1:51 PM
4230139662957
Syed Kashif1:52 PM
4250144488545
Munir Ali1:52 PM
4220101410369
Fazal Diyan1:53 PM
42301-9945992-1
Ali Naiyar1:53 PM
4210198030681
Muhammad faizan Farooque1:53 PM
4230139662957
Muhammad Atique Qayyum1:53 PM
4220140225263
Afnan Ali1:53 PM
4210146436547
Muneeb Ahmed1:53 PM
42101 8342718 3
taimoor qureshi1:53 PM
4240179641627
Faiza Asad1:53 PM
4200052746960
Hassan Ahmed1:53 PM
4220156089133
Zareen Fatima1:53 PM
3520269403788
Zeeshan Naqvi1:53 PM
4210151751811
Shakir Hussain1:53 PM
4210182767349
Nazneen Akram1:53 PM
4210145447712
khizra batool1:53 PM
5440047459326
HAREEM RIZVI1:53 PM
42101-3311570-4
Tabish sheikh1:53 PM
4210129511133
Fazal Diyan1:53 PM
4230199459921
Saba Naz1:53 PM
4250125987808
Tabassum Ali1:53 PM
4230123126547
Syed Kashif1:53 PM
4250144488545
Muhammad Ayaz1:53 PM
4410242997959
Muhammad Uzair1:53 PM
4210184252633
Asima Ali1:53 PM
4420626938874
taimoor qureshi1:53 PM
4240118801065
Ali Naiyar1:53 PM
4240118801065
DRM QC1:53 PM
4240118801065
4220169252467
Arsalan Ahmed1:54 PM
4220165351957
Zareen Fatima1:54 PM
3520269403788
Nofil Ahmed1:54 PM
4210175076663
Dewan S Khan1:54 PM
4220105630741
Haris Chhipa1:56 PM
4210156195059
Hussain Ali1:57 PM
4220117852609
Wasiq Gt1:59 PM
4250104502069
Muhammad Uzair1:59 PM
Great learning
Muhammad Ali Syed Sadiqullah2:02 PM
AoA final exam date and time has been shared in the group.
Syed Ammad Waheed2:03 PM
4210113863591 syed Ammad Waheed Hassani
Dewan S Khan2:03 PM
4220105630741
myd-bnjm-grb"""

df16 = attendance(x)
print(len(df16))
df16['c16'] = 1
df16.head()

44

            CNIC  c16
0  4220140225263    1
1  4210198030681    1
2  4230139662957    1
3  4220101410369    1
4  4220169252467    1

In [22]:
x = """
Nofil Ahmed3:23 PM
4210175076663
Saba Naz3:24 PM
4250125987808
zain abidi3:25 PM
4250119167549
Ad Khan3:25 PM
Muhammad Adnan Khan
4220113823383
Zeeshan Naqvi3:25 PM
4210151751811
Malik Humza3:26 PM
4240105171159
Arsalan Ahmed3:29 PM
42201-6535195-7
Syed Masroor Ali (Masroor)3:29 PM
4240118801065
Syed Tanveer3:32 PM
4240179641627
Muneeb Ahmed3:34 PM
42101 8342718 3
Faizan Ehtesham3:37 PM
4240114707349
Muhammad Atique Qayyum3:44 PM
4220140225263
Zahid Bashir3:45 PM
4250191411023
Syed Usama Shahzad3:45 PM
42101-3416307-9
Mohsin Kanani3:51 PM
42301-0833568-3
Malik Humza3:51 PM
4240105171159
manal saba (EB20102055)3:52 PM
4210170238438
Bilal Uddin3:53 PM
4220122191357
Syed Masroor Ali (Masroor)3:53 PM
4240118801065
Yusra Adnan3:56 PM
4210164790696
Muhammad Rohan3:56 PM
4210116966995
Muhammad faizan Farooque3:57 PM
4230139662957
Muneeb Ahmed3:58 PM
42101 8342718 3
Syed Tanveer3:59 PM
4220169252467
Qazi Moawiz4:02 PM
31303-9922122-5
Haris Chhipa4:03 PM
4210156195059
Syed Masroor Ali (Masroor)4:08 PM
4240118801065
Zeeshan Javed4:08 PM
4230189725317
Tariq Mehmood4:10 PM
4220104505899
Zareen Fatima4:12 PM
3520269403788
Zeeshan Naqvi4:15 PM
4210151751811
Faizan Ehtesham4:15 PM
4240114707349
Hassan Ahmed4:15 PM
4220156089133
Muneeb Ahmed4:15 PM
42101 8342718 3
Qazi Moawiz4:15 PM
31303-9922122-5
Tabish sheikh4:15 PM
4210129511133
Hussain Ali4:15 PM
4220117852609
Syed Masroor Ali (Masroor)4:15 PM
4240118801065
Nazneen Akram4:15 PM
4210145447712
Hussain Ali4:16 PM
4220101410369
Bilal Uddin4:16 PM
4220122191357
Tabassum Ali4:16 PM
4230123126547
Asima Ali4:16 PM
4420626938874
Ali Naiyar4:16 PM
4210198030681
usman ahmad4:16 PM
4220113316709
Muhammad Ayaz4:16 PM
4410242997959
Tabassum Ali4:16 PM
4210120075463
Ali Naiyar4:16 PM
4250104502069
Fazal Diyan4:16 PM
4230199459921
4230199459921
Syed Masroor Ali (Masroor)4:19 PM
4240118801065
Muhammad Uzair4:20 PM
4210184252633
Syed Kashif4:20 PM
4250144488545
Syed Tanveer4:20 PM
4220169252467
4240179641627 Taimoor
HAREEM RIZVI4:21 PM
42101-3311570-4
Ad Khan4:23 PM
Muhammad Adnan Khan
4220113823383
Nazneen Akram4:23 PM
4210145447712
Zeeshan Javed4:23 PM
4230189725317
Syed Kashif4:23 PM
4250144488545
Sheikh Faizan4:23 PM
Sheikh Muhammad Fauzan 42101-7490505-9
Syed Masroor Ali (Masroor)4:23 PM
4240118801065
Dewan S Khan4:23 PM
422010563074q
HAREEM RIZVI4:23 PM
khizra: 5440047459326
zain abidi4:23 PM
4250119167549
Sheikh Faizan4:23 PM
Sheikh Muhammad Faizan 42101-7490505-9
Dewan S Khan4:23 PM
4220105630741
4220105630741
Zeeshan Naqvi4:24 PM
4210151751811
Mohsin Kanani4:24 PM
42301-0833568-3
Dewan S Khan4:24 PM
4220105630741
Muneeb Ahmed4:25 PM
42101 8342718 3
Zahid Bashir4:25 PM
4250191411023
myd-bnjm-grb
"""
df17 = attendance(x)
print(len(df17))
df17['c17'] = 1
df17.head()

44

            CNIC  c17
0  4220140225263    1
1  4210198030681    1
2  4230139662957    1
3  4220101410369    1
4  4230108335683    1

# Final

In [23]:
df = df1.merge(df2,on='CNIC', how='outer').fillna(0).merge(df3,
                                                          on="CNIC",
                                                          how='outer').fillna(0).\
merge(df4,
       on="CNIC",
       how='outer').fillna(0)\
.merge(df5,
       on="CNIC",
       how='outer').fillna(0)\
.merge(df6,
       on="CNIC",
       how='outer').fillna(0)\
.merge(df7,
       on="CNIC",
       how='outer').fillna(0)\
.merge(df8,
       on="CNIC",
       how='outer').fillna(0)\
.merge(df9,
       on="CNIC",
       how='outer').fillna(0)\
.merge(df10,
       on="CNIC",
       how='outer').fillna(0)\
.merge(df11,
       on="CNIC",
       how='outer').fillna(0)\
.merge(df12,
       on="CNIC",
       how='outer').fillna(0)\
.merge(df13,
       on="CNIC",
       how='outer').fillna(0)\
.merge(df14,
       on="CNIC",
       how='outer').fillna(0)\
.merge(df15,
       on="CNIC",
       how='outer').fillna(0)\
.merge(df16,
       on="CNIC",
       how='outer').fillna(0)\
.merge(df17,
       on="CNIC",
       how='outer').fillna(0)

df['total'] = df.iloc[:,1:].astype(int).sum(axis=1)
df.sort_values(by="total", inplace=True, ascending=False)
print(len(df))
display(df.iloc[:,1:].sum(axis=0).T)
df.head(60)

70

c1        39.0
c2        43.0
c3        46.0
c4        46.0
c5        46.0
c6        46.0
c7        53.0
c8        48.0
c9        47.0
c10       50.0
c11       46.0
c12       44.0
c13       45.0
c14       42.0
c16       44.0
c17       44.0
total    729.0
dtype: float64

,CNIC,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14,c16,c17,total
3,4220169252467,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,16
32,4220104505899,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,16
22,3520269403788,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,16
37,4210156195059,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,16
35,4220105630741,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,15
12,4420626938874,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,15
34,4250144488545,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,15
30,3130399221225,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,15
47,4230123126547,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,15
23,4210151751811,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,15
13,4410242997959,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,15
18,4210164790696,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,15
2,4230108335683,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,15
9,4220117852609,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,15
7,4210120075463,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,15
5,4210133115704,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,15
11,4220156089133,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,14
28,4210113863591,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,14
14,4240118801065,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,14
40,4210198030681,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,14
19,4240179641627,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,14
20,4210182767349,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,14
42,4220101410369,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,14
8,4220122191357,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,14
25,4220113316709,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,14
48,4210145447712,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,14
6,4250104502069,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,14
60,4250125987808,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,13
49,4220159083880,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,13
56,5440047459326,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,13
17,4250119167549,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,13
54,4200052746960,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,13
45,4250191411023,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,12
50,4210116966995,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,12
41,4230139662957,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,12
53,4210141137977,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,12
39,4220140225263,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,12
0,4210103553847,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,12
16,4210146436547,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,12
52,4220113823383,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,11
10,4220124812817,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,11
55,4230189725317,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,11
51,4210175076663,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,11
59,4210129511133,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,10
44,4210184252633,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,10
15,4220165351957,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,9
4,4240114707349,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,9
57,4240128161338,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,9
43,4230199459921,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,9
29,4220122868467,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,9
27,4210174905059,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,9
36,4240105171159,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,9
38,4210124609792,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,8
58,4210134163079,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,7
62,5140176791651,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,7
63,4250105286907,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,7
26,4250110257001,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
31,4210192767349,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
68,4210170238438,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,3
1,4220143471143,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,3

In [20]:
df[df.c10==0]

,CNIC,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14,c15,c16,total
34,4250144488545,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,15
10,4220124812817,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,12
57,4240128161338,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,9
15,4220165351957,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,9
38,4210124609792,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,9
36,4240105171159,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,9
4,4240114707349,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,9
43,4230199459921,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,9
63,4250105286907,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,7
26,4250110257001,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
31,4210192767349,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
68,4210170238438,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2
21,4210115022744,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
24,5440004083505,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
61,4210124609797,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
46,4220105436681,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
64,4210198093068,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
65,4240118801016,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
33,4220140225236,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
69,4220105630451,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1